#app3{

}

#app3 .square{
    width: 10vw;
    height: 25vh;
    margin-top:10vh ;
    margin-left: 10vw;
    border: 1px solid red;
    transition: transform 1s;
}

#app3 .square.active{
    transform: translateX(10vw);
}